<h2>What kind of Burger sounds good?</h2>
<form class="create-update-form" action="burgers/create" method="POST">

  <div id="burger" class="form-group">
    <label for="ca">Burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button id="burger" type="submit">Add Burger</button>
</form>

<h2>Your Burgers: enjoy, totally guilt free</h2>

<ul>
  {{#each burgers}}
    {{#unless this.devoured}}
      <li>
        {{this.name}}

        <form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="true">
          <button id="burger" type="submit">DINNER TIME!</button>
        </form>

        {{> burgers/devoured-burgers}}
      </li>
    {{/unless}}
  {{/each}}
</ul>

<h2>Devoured Burgers!</h2>

<ul>
  {{#each burgers}}
    {{#if this.devoured}}
      <li>
        {{this.name}}

        {{> burgers/devoured-burgers}}
      </li>
    {{/if}}
  {{/each}}
</ul>


