li {
  background: #F4991A;
  margin: 10px;
  padding: 10px;
  font-family: 'Anton', sans-serif;
}

h1, h2, #burger {
  font-family: 'Anton', sans-serif;
}

.label {
  font-weight: bold;
}

.create-update-form {
  background: #70A3C4;
  margin: 10px;
  padding: 10px;
}

.form-group {
  margin-bottom: 15px;
}
